*, *:before, *:after {
    box-sizing: border-box;
  }




  .buttons {
    margin-left: 75px;
    
   }


   .link {
    border: none;
    border-radius: 30px;
   }

.logo {
    position: absolute;
    display: block;
    top: 40%;
    left: 40%;
    
  }

  .link {
    border: none;
    border-radius: 30px;
    
    
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
     width: 100px;
     padding: 0.5rem 0.5rem;
     text-decoration: none;
     background-color: #0b3d05;
     Color: #eb732e;
     font-weight: bold;
     text-align: center;
    }